{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
      {% for object in object_list %}
      <div class="card">
        <div class="card-header">
          {{object.author}}
        </div>
        <img src="{{ object.image.url }}" alt="" class="card-img-top">
        <div class="card-body">
          <p class="card-text">{{ object.text }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">생성일 : {{object.created}}</li>
        </ul>
        <div class="card-body">
          {% if user in object.like.all %}
          <a href="{% url 'photo:like' object.id %}"><i class="far fa-heart" style="color: crimson;"></i></a>
          {% else %}
          <a href="{% url 'photo:like' object.id %}"><i class="far fa-heart"></i></a>
          {% endif %}
          <p>{{ object.like.count }} 명이 좋아합니다.</p>
        </div>
        <div class="card-body">
          <a href="{% url 'photo:detail' object.id %}">댓글달기</a>
          {% if user == object.author %}
          <a href="{% url 'photo:update' object.id %}">수정하기</a>
          <a href="{% url 'photo:delete' object.id %}">삭제하기</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col"></div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          <p>{{user}}</p>
        </div>
        <div class="card-body">
          <a href="{% url 'photo:my_list' %}">스토리 이동</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}