{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col"></div>
  <div class="col-12 col-xl-4 col-md-4">
    <div class="card" style="width: 30rem;">
      <img src="{{ object.image.url }}" alt="..." class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ object.author }}</h5>
        <p class="card-text">{{ object.text }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">생성일 : {{object.created}}</li>
        <div class="card-body">
          {% if user in object.like.all %}
          <a href="{% url 'photo:like' object.id %}"><i class="far fa-heart" style="color: crimson;"></i></a>
          {% else %}
          <a href="{% url 'photo:like' object.id %}"><i class="far fa-heart"></i></a>
          {% endif %}
          <p>{{ object.like.count }} 명이 좋아합니다.</p>
        </div>
        <li class="list-group-item">댓글</li>
        <li class="list-group-item">
          {% for comment in object.comments.all %}
          <div class="card-body">
            <div class="card-title">작성자 : {{comment.writer}}</div>
            <div class="date">{{comment.created}}</div>
            <br>
            <div class="card-text">{{comment.text}}</div>
            {% if user == object.author %}
            <a class="btn btn-default" href="{% url 'photo:comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove">삭제</span></a>
            {% endif %}
          </div>
          {% endfor %}
          <form method="POST" action="{% url 'photo:comment_write' pk=object.id %}">
            {% csrf_token %}
            <input type="text" placeholder="댓글을 입력해 주세요" name="text">
            <button type="submit" class="btn btn-secondary">작성</button>
          </form>
        </li>
      </ul>
    </div>
    {% if user == object.author %}
    <div class="card-body">
      <a href="{% url 'photo:update' object.id %}" class="card-link">수정하기</a>
      <a href="{% url 'photo:delete' object.id %}" class="card-link">삭제하기</a>
    </div>
    {% endif %}
  </div>
  <div class="col"></div>
</div>
{% endblock %}